
<div class="main-panel">
    <div class="content-wrapper">

        <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Product Details</h4>
                        <p class="card-description"> This will show to the coustmers </p>
                        <form class="forms-sample" action="/admin/add-coupon" method="POST"
                            enctype="application/x-www-form-urlencoded">
                            <div class="form-group row">
                                <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Coupon ID</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="exampleInputUsername2"
                                         name="couponID" >
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Coupon Name</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="exampleInputEmail2"
                                          " name="couponName">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Persentage</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="exampleInputEmail2"
                                          " name="persentage">
                                </div>
                            </div>
                            
                            <div class="form-group row">
                                <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Starting Date</label>
                                <div class="col-sm-9">
                                    <input type="date" class="form-control" id="exampleInputEmail2"
                                         name="startdate">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="exampleInputEmail2" class="col-sm-3 col-form-label">End Date</label>
                                <div class="col-sm-9">
                                    <input type="date" class="form-control" id="exampleInputEmail2"
                                         name="enddate">
                                </div>
                            </div>


                    </div>
                </div>
            </div>

        </div>
        <div class="d-flex align-items-center">
            <input type="submit" class="btn btn-gradient-primary me-3 "></input>
            <h4 class="">Add Coupon and submit...</h4>
            </form>
        </div>

        

    </div>
</div>