<!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item nav-profile">
              <a href="#" class="nav-link">
                <div class="nav-profile-image">
                  <img src="/assets/images/faces/face1.jpg" alt="profile">
                  <span class="login-status online"></span>
                  {{!-- <!--change to offline or busy as needed--> --}}
                </div>
                <div class="nav-profile-text d-flex flex-column">
                  <span class="font-weight-bold mb-2">David Grey. H</span>
                  <span class="text-secondary text-small">Project Manager</span>
                </div>
                <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">
                <span class="menu-title">Dashboard</span>
                <i class="mdi mdi-home menu-icon"></i>
              </a>
            </li>

            {{!-- Products --}}
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="collapse" href="/" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-title">Products</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-dropbox menu-icon"></i>
              </a>
              <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="/admin/view-products">View Product</a></li>
                  <li class="nav-item"> <a class="nav-link" href="/admin/add-products">Add Product</a></li>
                </ul>
              </div>
            </li>

            {{!-- Catagory --}}
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="collapse" href="/" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-title">Catagory</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-shopping menu-icon"></i>
              </a>
              <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="/admin/categories">Show Catagory</a></li>
                  <li class="nav-item"> <a class="nav-link" href="/admin/add-categories">Add Catagory</a></li>
                </ul>
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/">
                <span class="menu-title">Users</span>
                <i class="mdi mdi-contacts menu-icon"></i>
              </a>
            </li>
           
           <li class="nav-item">
              <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-title">Brand</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-alphabetical menu-icon"></i>
              </a>
              <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="/">View Brand</a></li>
                  <li class="nav-item"> <a class="nav-link" href="/">Add Brand</a></li>
                </ul>
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-title">Offers</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-star-circle menu-icon"></i>
              </a>
              <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="/">View Products Offers</a></li>
                  <li class="nav-item"> <a class="nav-link" href="/admin/add-offer">Add Products Offers</a></li>
                  <li class="nav-item"> <a class="nav-link" href="/">View Catagory Offers</a></li>
                  <li class="nav-item"> <a class="nav-link" href="/admin/add-categoryoffer">Add Catagory Offers</a></li>
                </ul>
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/">
                <span class="menu-title">Sales</span>
                <i class="mdi mdi-sale menu-icon"></i>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/">
                <span class="menu-title">Orders</span>
                <i class="mdi mdi-cart-plus menu-icon"></i>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="collapse" href="#general-pages" aria-expanded="false" aria-controls="general-pages">
                <span class="menu-title">Coupen</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-cash-multiple menu-icon"></i>
              </a>
              <div class="collapse" id="general-pages">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="/admin/add-coupon"> Add Coupen  </a></li>
                  <li class="nav-item"> <a class="nav-link" href="/admin/view-coupon"> View Coupen </a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item sidebar-actions">
              <span class="nav-link">
                <div class="border-bottom">
                  <h6 class="font-weight-normal mb-3">Products</h6>
                </div>
                <button class="btn btn-block btn-lg btn-gradient-primary mt-4">+ Add a Products</button>
              </span>
            </li>
          </ul>
        </nav>